<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${creditDTO.getName()}"></title>
    <style>
        .text {
            text-align: center;
            font-size: 34px;
            font-weight: bold;
        }
    </style>
    <!--    <script th:inline="javascript">-->
    <!--        let flag = [[${exception}]]; //переменная-флаг Thymeleaf-->
    <!--        window.onload = () => {-->
    <!--            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()-->
    <!--        };-->
    <!--    </script>-->
</head>
<body>
<div layout:fragment="content">
    <div class="text">
        <p th:text="${creditDTO.getName()}"></p>
    </div>
    <hr/>
    <div>
        <h1>Описание</h1>
        <p th:text="${creditDTO.getDescription()}" style="font-size: 23px"></p>
    </div>

<!--    <form th:href="'requests/new'" th:method="GET">-->
<!--        <div>-->
<!--            <button type="button" class="btn btn-outline-primary"><a href="requests/new">Подать заявку</a></button>-->
<!--        </div>-->
<!--    </form>-->

    <div>
<!--        <button type="button" class="btn btn-outline-primary"><a th:href="${creditDTO.getId()} + '/request/new'">Подать заявку</a></button>-->
        <a class="text-link text-blue" sec:authorize="isAuthenticated() && hasRole('USER')" th:href="${creditDTO.getId()} + '/request/new'" th:text="'Подать заявку'"></a>
    </div>

</div>

</body>
</html>