<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Заявки</title>
    <script>
        function getSelectedDates() {
            var startDateInput = document.getElementById("startDate");
            var endDateInput = document.getElementById("endDate");

            var startDate = startDateInput.value;
            var endDate = endDateInput.value;

            alert("Выбранный промежуток: " + startDate + " - " + endDate);
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1>Выбор промежутка между датами</h1>

    <form method="POST" th:action="@{/requests/overview/betweenTwoDates}" th:object="${twoDatesDTO}">
        <label for="startDate">Начальная дата:</label>
        <input type="date" name="startDate" id="startDate">

        <label for="endDate">Конечная дата:</label>
        <input type="date" name="endDate" id="endDate">

        <button type="submit" onclick="getSelectedDates()">Показать заявки за этот промежуток</button>
    </form>

    <h1 th:if="${start != null}" th:text="'Заявки за период с ' + ${start} + ' по ' + ${end}"></h1>

    <div class="row">
        <div class="mt-5">
            <div th:each="request : ${requests}">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Заявитель: ' + ${request.getUser().getFirstName()} + ' ' + ${request.getUser().getMiddleName()} + ' ' + ${request.getUser().getLastName()}"></h5>
                    <p class="card-text" th:text="'Кредитная программа: ' + ${request.getCredit().getName()}"></p>
                    <!--                    <p class="card-text" th:text="'Сумма кредита: ' + ${request.getRequiredDebt()}"></p>-->
                    <p class="card-text" th:text="'Максимальный одобренный долг: ' + ${request.getMaximumDebt()}"></p>
                    <p class="card-text" th:text="'Срок кредита: ' + ${request.getDuration()}"></p>
                    <p class="card-text" th:text="'Ежемесячный платеж ' + ${request.getMonthlyPayment()}"></p>
                    <p class="card-text" th:text="'Дата заявки: ' + ${request.getDateOfRequest()}"></p>
                    <span class="badge bg-secondary" th:if="${request.getRequestStatus().getValue().equals('Considered')}">На рассмотрении</span>
                    <span class="badge bg-danger" th:if="${request.getRequestStatus().getValue().equals('Declined')}">Отклонено</span>
                    <span class="badge bg-success" th:if="${request.getRequestStatus().getValue().equals('Accepted')}">Одобрено</span>
                    <a th:href="'/requests/' + ${request.getId()}" class="btn btn-primary" th:if="${!request.getRequestStatus().getValue().equals('Declined')}">Подробнее</a>
                </div>

                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>