<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Список кредитных предложений</title>
  <link href="css/styles.css">
  <style>
    .mainText {
      text-align: center;
      font-size: 34px;
      font-weight: bold;
    }
    .text {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
  </style>
<!--  <link rel="icon" href="favicon.ico" type=”image/x-icon”>-->
</head>
<body>
<div layout:fragment="content">
  <hr class="mt-3 hr"/>
  <h1 class="mainText">Кредитный отдел Сбербанка</h1>

  <div>
    <p class="text">Данный сайт содержит информацию обо всех актуальных кредитных предложениях нашего банка</p>
  </div>

  <div>
    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" href="users/all">Список клиентов</a>
  </div>

  <div>
    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" href="managers/all">Список менеджеров</a>
  </div>

  <div>
  </div>
</div>
</body>
</html>